/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: "barnettregular";
  src: url("font/barnett-webfont.woff2") format("woff2"),
    url("font/barnett-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#mainNav {
  transition: 0.4s;
}

#projects {
  top: 0;
}
#relative {
  position: relative;
  background-image: url("../img/kisspng-gibson-les-paul-studio-gibson-les-paul-special-epi-electric-guitar-5abce7bd401cc7.1102401315223295332626.png");
  /* background-color: #184e77; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45vh;
}

#layer {
  width: 100%;
  height: 100%;
  background-color: #27587e;
  position: absolute;
  top: 0%;
  right: 0%;
  opacity: 95%;
}
#absolute {
  position: absolute;
  /* margin-top: 5em;
  width: 10em;
  height: auto; */
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  height: auto;
}
#name {
  font-family: "barnettregular";
  font-size: 30px;
}
main {
  background-color: #fff;
  height: 100%;
  margin: 0;
}

#services i {
  color: #27587e;
}
#services > h2 {
  top: 15vh;
}
#contact {
  background-color: #ffc703;
  padding: 90px 0;
  height: auto;
  color: #27587e;
}

#about {
  position: absolute;
  background-color: #ffc703;
  color: #27587e;
  width: 50%;
  height: 2.5em;
  top: 83%;
  left: 0;
  right: 0;
  margin: auto;
}
#profil {
  background-color: #ffc703;
  height: auto;
  padding: 90px 0;
  color: #27587e;
}
.card {
  width: 40vh;
  margin: 0;
  height: auto;
  border: 0ch;
}
#projets {
  background-color: #fff;
  width: 150vh;
  height: auto;
  margin-top: 15vh;
}
#boutonsLiens {
  background-color: #ffc703;
  color: #27587e;
}

/* *********************** Polices Title / H1, H2, H3, H4, H5, P **************** */
h1 {
  position: absolute;
  font-family: "barnettregular";
  font-size: 50px;
  height: 30%;
  top: 55%;
  left: 0;
  right: 0;
  margin: auto;
}
h5 {
  font-size: 15px;
  color: #27587e;
}
h3 {
  font-size: smaller;
}
h4 {
  position: absolute;
  font-size: 20px;
  color: #fff;
  /* color: #2ec4b6; */
  height: 30%;
  top: 62%;
  left: 0;
  right: 0;
  margin: auto;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

/* *********************** FOOTER ******************************* */
#foot {
  color: #ffc703;
}
footer {
  background-color: #27587e;
}
footer .btn {
  font-size: 30px;
}
footer .fab {
  color: #fff;
  font-size: 180%;
}

/* ***********************Regles Media Querries ****************** */

@media screen and (min-width: 500px) {
  #absolute {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 20%;
    height: auto;
  }
}
@media screen and (min-width: 950px) {
  #relative {
    position: relative;
    background-image: url("../img/kisspng-gibson-les-paul-studio-gibson-les-paul-special-epi-electric-guitar-5abce7bd401cc7.1102401315223295332626.png");
    /* background-color: #184e77; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vh;
  }
  #absolute {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 20%;
    height: auto;
  }
  #name {
    font-family: "barnettregular";
    font-size: 40px;
  }
}
@media screen and (min-width: 1130px) {
  #relative {
    height: 80vh;
  }
  #absolute {
    position: absolute;
    margin-top: 5em;
    width: 5em;
    height: auto;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 15%;
    height: auto;
  }
  h4 {
    position: absolute;
    font-size: 30px;
    color: #fff;
    /* color: #2ec4b6; */
    height: 30%;
    top: 65%;
    left: 0;
    right: 0;
    margin: auto;
  }
  #name {
    font-family: "barnettregular";
    font-size: 60px;
  }
  #about {
    width: 30%;
    height: 2.5em;
    top: 85%;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media screen and (min-width: 1441px) {
  h4 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1441px) {
  #about {
    font-size: x-large;
    width: 30%;
    height: auto;
    top: 90%;
    left: 0;
    right: 0;
    margin: auto;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
