@font-face {
  font-family: "barnettregular";
  src: url("font/barnett-webfont.woff2") format("woff2"),
    url("font/barnett-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
